@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Menu";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>HYMALAYA</title>
    <link rel="shortcut icon" href="" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   
</head>
<body style="font-family: Arial, Helvetica, sans-serif;">
    <div class="step-page-wrapper">
        <ul class="progressbar">
            <li class="complete">Chọn sản phẩm</li>
            <li class="complete">Đặt hàng</li>
            <li class="active">Chọn Địa chỉ</li>
            <li>Thanh Toán</li>
            <li>Nhận Hàng</li>
        </ul>
        <div class="cs-table-list">
            <table>
                <tr>
                    <td>Sản phẩm</td>
                    <td>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum assumenda beatae dolore!
                        Incidunt, recusandae perspiciatis culpa nostrum eveniet aperiam corrupti?
                    </td>
                </tr>
                <tr>
                    <td>Trạng thái thanh toán</td>
                    <td>Francisco Chang</td>
                </tr>
                <tr>
                    <td>Trạng thái dịch vụ</td>
                    <td><span class="strong">Roland Mendel</span></td>
                </tr>
                <tr>
                    <td>Số tiền thanh toán</td>
                    <td><span class="strong highlight">Helen Bennett</span></td>
                </tr>
                <tr>
                    <td>Mã đơn hàng</td>
                    <td><span class="highlight">Yoshi Tannamuri</span></td>
                </tr>
                <tr>
                    <td>Ngày giao dịch</td>
                    <td>Giovanni Rovelli</td>
                </tr>
            </table>
        </div>
        <p class="para-noti">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit labore, ducimus, autem adipisci
            eligendi laboriosam error vitae, delectus id eaque minima. Provident quas voluptas vitae rem tempore a
            quaerat ipsum?
        </p>
        <div class="button-back">
            <a href="#" class="button-back__link">Quay lại trang chủ</a>
        </div>
    </div>
</body>
</html>
