@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Menu";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>HYMALAYA</title>
    <link rel="shortcut icon" href="" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

</head>
<body style="font-family: Arial, Helvetica, sans-serif;">
    <nav aria-label="breadcrumb" class="mp-breadcrumb clearfix">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Order</li>
        </ol>
    </nav>
        <div class="input-group">
            <input id="ipsearch" type="text" class="form-control" placeholder="Input orderid and click search button..." name="search">
            <div class="input-group-btn">
                <button id="searchclick" class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    
    <script>
        $(function () {
            $("#searchclick").click(function () {
                var str = $("#ipsearch").val();
                var link = '/order/' + str;
                window.location.assign(link);
        });
        });
    </script>
</body>
</html>
