@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Menu";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Boba</title>
    <link rel="shortcut icon" href="" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Css -->
    @*<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />*@

</head>
<body>
    <main id="menu-page">
        <header class="mp-header">
            
        </header>
        <div class="mp-banner">
            <img src="img/deli/banner-duoi.png" alt="" />
            <img src="img/deli/TokyoDeli-banner.png" alt="" />
        </div>
        <div class="mp-body">
            <div class="container">
                <nav aria-label="breadcrumb" class="mp-breadcrumb clearfix">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Menu</li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h1 class="mp-heading">THỰC ĐƠN</h1>
                        <div class="mp-direction">
                            <!-- <div class="mp-direction_tab"> -->
                            <!-- <ul> -->
                            <!-- <li class="active"> -->
                            <!-- <a href="#">GRAND MENU HỒ CHÍ MINH</a> -->
                            <!-- </li> -->
                            <!-- <li> -->
                            <!-- <a href="#">GRAND MENU HÀ NỘI</a> -->
                            <!-- </li> -->
                            <!-- <li> -->
                            <!-- <a href="#">LUNCH MENU</a> -->
                            <!-- </li> -->
                            <!-- <li> -->
                            <!-- <a href="#">TOKYO DELI EXPRESS</a> -->
                            <!-- </li> -->
                            <!-- </ul> -->
                            <!-- </div> -->
                            <!-- <div class="mp-direction_content"> -->
                            <!-- <button type="button" class="btn">NEW COLLECTION</button> -->
                            <!-- <button type="button" class="btn">STARTER</button> -->
                            <!-- <button type="button" class="btn">SASHIMI COMBO</button> -->
                            <!-- <button type="button" class="btn">SASHIMI</button> -->
                            <!-- <button type="button" class="btn">SUSHI COMBO</button> -->
                            <!-- <button type="button" class="btn">GUNKAN</button> -->
                            <!-- <button type="button" class="btn">NIGIRI</button> -->
                            <!-- <button type="button" class="btn">MAKI</button> -->
                            <!-- <button type="button" class="btn">HAKO</button> -->
                            <!-- <button type="button" class="btn">HOSOMAKI</button> -->
                            <!-- <button type="button" class="btn">SALAD</button> -->
                            <!-- <button type="button" class="btn">APPETIZER</button> -->
                            <!-- <button type="button" class="btn">TEPPAN</button> -->
                            <!-- <button type="button" class="btn">FURAI</button> -->
                            <!-- <button type="button" class="btn">YAKI</button> -->
                            <!-- <button type="button" class="btn">HOT POT</button> -->
                            <!-- <button type="button" class="btn">TEMPURA</button> -->
                            <!-- <button type="button" class="btn">UDON</button> -->
                            <!-- <button type="button" class="btn">DONBURI</button> -->
                            <!-- <button type="button" class="btn">CURRY</button> -->
                            <!-- <button type="button" class="btn">SET</button> -->
                            <!-- <button type="button" class="btn">BENTO BOX</button> -->
                            <!-- <button type="button" class="btn">PARTY SET</button> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mp-product">
                            <a href="#" class="mp-product_img">
                                <img src="img/deli/product.jpg" alt="" />
                            </a>
                            <div class="mp-product_info">
                                <div class="mp-product_code">Y4</div>
                                <h3 class="mp-product_name">
                                    <a href="#" class="hvr-icon-wobble-horizontal">CÁ HOKKE NƯỚNG</a>
                                </h3>
                                <div class="mp-product_text">
                                    <p>GRILLED HOKKE FISH</p>
                                    <p>ホッケ焼き</p>
                                </div>
                                <div class="mp-product_price">165.000 VNĐ</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mp-product">
                            <a href="#" class="mp-product_img">
                                <img src="img/deli/product.jpg" alt="" />
                            </a>
                            <div class="mp-product_info">
                                <div class="mp-product_code">Y4</div>
                                <h3 class="mp-product_name">
                                    <a href="#" class="hvr-icon-wobble-horizontal">CÁ HOKKE NƯỚNG</a>
                                </h3>
                                <div class="mp-product_text">
                                    <p>GRILLED HOKKE FISH</p>
                                    <p>ホッケ焼き</p>
                                </div>
                                <div class="mp-product_price">165.000 VNĐ</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mp-product">
                            <a href="#" class="mp-product_img">
                                <img src="img/deli/product.jpg" alt="" />
                            </a>
                            <div class="mp-product_info">
                                <div class="mp-product_code">Y4</div>
                                <h3 class="mp-product_name">
                                    <a href="#" class="hvr-icon-wobble-horizontal">CÁ HOKKE NƯỚNG</a>
                                </h3>
                                <div class="mp-product_text">
                                    <p>GRILLED HOKKE FISH</p>
                                    <p>ホッケ焼き</p>
                                </div>
                                <div class="mp-product_price">165.000 VNĐ</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mp-product">
                            <a href="#" class="mp-product_img">
                                <img src="img/deli/product.jpg" alt="" />
                            </a>
                            <div class="mp-product_info">
                                <div class="mp-product_code">Y4</div>
                                <h3 class="mp-product_name">
                                    <a href="#" class="hvr-icon-wobble-horizontal">CÁ HOKKE NƯỚNG</a>
                                </h3>
                                <div class="mp-product_text">
                                    <p>GRILLED HOKKE FISH</p>
                                    <p>ホッケ焼き</p>
                                </div>
                                <div class="mp-product_price">165.000 VNĐ</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mp-product">
                            <a href="#" class="mp-product_img">
                                <img src="img/deli/product.jpg" alt="" />
                            </a>
                            <div class="mp-product_info">
                                <div class="mp-product_code">Y4</div>
                                <h3 class="mp-product_name">
                                    <a href="#" class="hvr-icon-wobble-horizontal">CÁ HOKKE NƯỚNG</a>
                                </h3>
                                <div class="mp-product_text">
                                    <p>GRILLED HOKKE FISH</p>
                                    <p>ホッケ焼き</p>
                                </div>
                                <div class="mp-product_price">165.000 VNĐ</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mp-product">
                            <a href="#" class="mp-product_img">
                                <img src="img/deli/product.jpg" alt="" />
                            </a>
                            <div class="mp-product_info">
                                <div class="mp-product_code">Y4</div>
                                <h3 class="mp-product_name">
                                    <a href="#" class="hvr-icon-wobble-horizontal">CÁ HOKKE NƯỚNG</a>
                                </h3>
                                <div class="mp-product_text">
                                    <p>GRILLED HOKKE FISH</p>
                                    <p>ホッケ焼き</p>
                                </div>
                                <div class="mp-product_price">165.000 VNĐ</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mp-product">
                            <a href="#" class="mp-product_img">
                                <img src="img/deli/product.jpg" alt="" />
                            </a>
                            <div class="mp-product_info">
                                <div class="mp-product_code">Y4</div>
                                <h3 class="mp-product_name">
                                    <a href="#" class="hvr-icon-wobble-horizontal">CÁ HOKKE NƯỚNG</a>
                                </h3>
                                <div class="mp-product_text">
                                    <p>GRILLED HOKKE FISH</p>
                                    <p>ホッケ焼き</p>
                                </div>
                                <div class="mp-product_price">165.000 VNĐ</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mp-product">
                            <a href="#" class="mp-product_img">
                                <img src="img/deli/product.jpg" alt="" />
                            </a>
                            <div class="mp-product_info">
                                <div class="mp-product_code">Y4</div>
                                <h3 class="mp-product_name">
                                    <a href="#" class="hvr-icon-wobble-horizontal">CÁ HOKKE NƯỚNG</a>
                                </h3>
                                <div class="mp-product_text">
                                    <p>GRILLED HOKKE FISH</p>
                                    <p>ホッケ焼き</p>
                                </div>
                                <div class="mp-product_price">165.000 VNĐ</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mp-product">
                            <a href="#" class="mp-product_img">
                                <img src="img/deli/product.jpg" alt="" />
                            </a>
                            <div class="mp-product_info">
                                <div class="mp-product_code">Y4</div>
                                <h3 class="mp-product_name">
                                    <a href="#" class="hvr-icon-wobble-horizontal">CÁ HOKKE NƯỚNG</a>
                                </h3>
                                <div class="mp-product_text">
                                    <p>GRILLED HOKKE FISH</p>
                                    <p>ホッケ焼き</p>
                                </div>
                                <div class="mp-product_price">165.000 VNĐ</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mp-product">
                            <a href="#" class="mp-product_img">
                                <img src="img/deli/product.jpg" alt="" />
                            </a>
                            <div class="mp-product_info">
                                <div class="mp-product_code">Y4</div>
                                <h3 class="mp-product_name">
                                    <a href="#" class="hvr-icon-wobble-horizontal">CÁ HOKKE NƯỚNG</a>
                                </h3>
                                <div class="mp-product_text">
                                    <p>GRILLED HOKKE FISH</p>
                                    <p>ホッケ焼き</p>
                                </div>
                                <div class="mp-product_price">165.000 VNĐ</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mp-product">
                            <a href="#" class="mp-product_img">
                                <img src="img/deli/product.jpg" alt="" />
                            </a>
                            <div class="mp-product_info">
                                <div class="mp-product_code">Y4</div>
                                <h3 class="mp-product_name">
                                    <a href="#" class="hvr-icon-wobble-horizontal">CÁ HOKKE NƯỚNG</a>
                                </h3>
                                <div class="mp-product_text">
                                    <p>GRILLED HOKKE FISH</p>
                                    <p>ホッケ焼き</p>
                                </div>
                                <div class="mp-product_price">165.000 VNĐ</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mp-product">
                            <a href="#" class="mp-product_img">
                                <img src="img/deli/product.jpg" alt="" />
                            </a>
                            <div class="mp-product_info">
                                <div class="mp-product_code">Y4</div>
                                <h3 class="mp-product_name">
                                    <a href="#" class="hvr-icon-wobble-horizontal">CÁ HOKKE NƯỚNG</a>
                                </h3>
                                <div class="mp-product_text">
                                    <p>GRILLED HOKKE FISH</p>
                                    <p>ホッケ焼き</p>
                                </div>
                                <div class="mp-product_price">165.000 VNĐ</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row"> -->
                <!-- <nav class="mp-pagi"> -->
                <!-- <ul class="pagination"> -->
                <!-- <li class="page-item"><a class="page-link" href="#">1</a></li> -->
                <!-- <li class="page-item active"> -->
                <!-- <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a> -->
                <!-- </li> -->
                <!-- <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                <!-- </ul> -->
                <!-- </nav> -->
                <!-- </div> -->
            </div>
        </div>
        <div class="mp-banner">
            <img src="img/deli/banner-trangchu.png" alt="" />
        </div>
    </main>
    @*<footer class="mp-footer">
        
    </footer>*@
    <script src="js/libs/jquery-1.11.2.min.js"></script>
    <script src="js/libs/bootstrap.min.js"></script>
    <script src="js/functions.js"></script>
</body>
</html>
