@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>BoBa</title>
    <link rel="shortcut icon" href="" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Css -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700&display=swap&subset=vietnamese" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body class="home-page">
    <div id="wrapper">
        <div class="wrapper-inner">
            <header id="header-wrapper">
                <div class="custom-container">
                    <div class="navigation_toggle">
                        <button type="button" class="tcon tcon-menu--xcross" aria-label="toggle menu">
                            <span class="tcon-menu__lines" aria-hidden="true"></span>
                            <span class="tcon-visuallyhidden">toggle menu</span>
                        </button>
                    </div>
                    <div class="logo-container">
                        <a href="#">
                            <img src="~/img/sushiwok-logo.png" />
                        </a>
                        <a href="#">
                            <img src="~/img/boba-logo.png" />
                        </a>
                    </div>

                    <div class="nav-container">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="/menu">Menu</a></li>
                            @*<li class="hasSubChild">
                                    <a href="#">Services</a>
                                    <ul>
                                        <li><a href="#">Nepali Coffee Beans</a></li>
                                        <li><a href="#">Coffee Farm</a></li>
                                        <li><a href="#">Coffee Equipment</a></li>
                                        <li><a href="#">Barista Training</a></li>
                                        <li><a href="#">Bakery Training</a></li>
                                    </ul>
                                </li>
                                <li class="hasSubChild">
                                    <a href="#">About Us</a>
                                    <ul>
                                        <li><a href="#">Our Founders</a></li>
                                        <li><a href="#">Organization Structure</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Locations</a></li>
                                <li><a href="#">Franchise</a></li>
                                <li><a href="#">Contact Us</a></li>*@
                        </ul>
                    </div>
                </div>
            </header>
            <!-------------------------------------- Content Wrapper Ends --------------------------------------->
            <!-------------------------------------- Header Wrapper Starts -------------------------------------->
            <div id="content-wrapper">
                <div id="home-page">
                    <section class="banner-section">
                        <div class="banner-background"
                             style="background-image: url('img/backgrounds/banner-home.jpg')"></div>
                        <div class="custom-container small-width-layout">
                            <div class="description-row-container">
                                <div class="title-row-container">
                                    <div class="title-row">
                                        <div class="section-title type-flower">
                                            <h1>Sushi City Wok</h1>
                                        </div>
                                        <div class="content">
                                            <p>Unique cuisine made by the best ingredients</p>
                                            <p>Quality is our first priority</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="home-coffee-section">
                        <div class="custom-container">
                            <div class="section-title">
                                <img src="img/headings/sushi-heading2.png" />
                                <div class="section-title"></div>
                            </div>

                            <div class="section-content">
                                <div class="row">
                                    <div class="col-xs-4 animation-area home-coffee-item ">
                                        <div class="ani-fade-item">
                                            <a href="~/menu#sushi">
                                                <div class="image-container">
                                                    <img src="~/img/sushi3.png" />
                                                    <div class="text move-text-left">
                                                        <h3>Sushi</h3>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-xs-4 animation-area home-coffee-item ">
                                        <div class="ani-fade-item">
                                            <a href="~/menu#bubbletea">
                                                <div class="image-container">
                                                    <img src="~/img/milktea2.png" />
                                                    <div class="text">
                                                        <h3>Bubble tea</h3>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-xs-4 animation-area home-coffee-item ">
                                        <div class="ani-fade-item">
                                            <a href="~/menu">
                                                <div class="image-container">
                                                    <img src="~/img/sushi4.png" />
                                                    <div class="text move-text-left">
                                                        <h3>Warehouse supplies</h3>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="home-services-section">
                        <div class="custom-container small-width-layout">
                            <div class="services-row-container">
                                <div class="title-row-container">
                                    <div class="title-row">
                                        <div class="section-title type-flower">
                                            <h1>Services</h1>
                                        </div>

                                        <div class="content">
                                            <p>
                                                Our sushi & bubble tea are determined to become the place
                                                for a daily stop for locals, expatriates, tourist and sushi & bubble tea lover.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="service-list-row animation-area">
                                    @*<div class="row">
                                            <div class="col-xs-6 home-nepali-beans ani-left">
                                                <div class="co-service-block">
                                                    <a href="#">
                                                        <div class="image-container">
                                                            <img src="img/services/nepali-coffee-beans.png" />
                                                        </div>
                                                        <div class="text-container right">
                                                            <h3>Nepali Coffee Beans</h3>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 home-coffee-equipment ani-right">
                                                <div class="co-service-block">
                                                    <a href="#">
                                                        <div class="image-container">
                                                            <img src="img/services/coffee-equipment.png" />
                                                        </div>
                                                        <div class="text-container left">
                                                            <h3>Coffee Equipment</h3>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>*@

                                    <div class="row">
                                        <div class="col-xs-12 home-barista">
                                            <a href="#">
                                                <div class="co-service-block">
                                                    <div class="image-container">
                                                        <img src="~/img/services/CONTENT.png" />
                                                    </div>
                                                    @*<div class="text-container left">
                                                            <h3>Barista Training</h3>
                                                        </div>*@
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="home-partners-section">
                        <div class="custom-container">
                            <div class="partners-content-area">
                                <div class="section-title">
                                    <h4>Bobacha and sushicity wok is the leading brand in all things bubble tea and sushi</h4>
                                    @*<h1>Our Global Partner</h1>*@
                                </div>

                                @*<div class="section-content">
                                        <div class="partners-image-container animation-area-sequence">
                                            <ul>
                                                <li class="ani-sequence-item">
                                                    <a href="#" target="_blank">
                                                        <img src="img/partners/la-pavoni.png" />
                                                    </a>
                                                </li>
                                                <li class="ani-sequence-item">
                                                    <a href="#" target="_blank">
                                                        <img src="img/partners/mazzer.png" />
                                                    </a>
                                                </li>
                                                <li class="ani-sequence-item">
                                                    <a href="#" target="_blank">
                                                        <img src="img/partners/espresso.png" />
                                                    </a>
                                                </li>
                                                <li class="ani-sequence-item">
                                                    <a href="#" target="_blank">
                                                        <img src="img/partners/blendtech.png" />
                                                    </a>
                                                </li>
                                                <li class="ani-sequence-item">
                                                    <a href="#" target="_blank">
                                                        <img src="img/partners/la-marzocco.png" />
                                                    </a>
                                                </li>
                                                <li class="ani-sequence-item">
                                                    <a href="#" target="_blank">
                                                        <img src="img/partners/karat.png" />
                                                    </a>
                                                </li>
                                                <li class="ani-sequence-item">
                                                    <a href="#" target="_blank">
                                                        <img src="img/partners/cup.png" />
                                                    </a>
                                                </li>
                                                <li class="ani-sequence-item">
                                                    <a href="#" target="_blank">
                                                        <img src="img/partners/pregel.png" />
                                                    </a>
                                                </li>
                                                <li class="ani-sequence-item">
                                                    <a href="#" target="_blank">
                                                        <img src="img/partners/plus.png" />
                                                    </a>
                                                </li>
                                                <li class="ani-sequence-item">
                                                    <a href="#" target="_blank">
                                                        <img src="img/partners/nacell.png" />
                                                    </a>
                                                </li>
                                                <li class="ani-sequence-item">
                                                    <a href="#" target="_blank">
                                                        <img src="img/partners/nupva-simonelli.png" />
                                                    </a>
                                                </li>
                                                <li class="ani-sequence-item">
                                                    <a href="#" target="_blank">
                                                        <img src="img/partners/ugolinin.png" />
                                                    </a>
                                                </li>
                                                <li class="ani-sequence-item">
                                                    <a href="# target="_blank">
                                                        <img src="img/partners/grand-master.png" />
                                                    </a>
                                                </li>
                                                <li class="ani-sequence-item">
                                                    <a href="#" target="_blank">
                                                        <img src="img/partners/bodum.png" />
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!--------------------------------------- Header Wrapper Ends --------------------------------------->
            <!-------------------------------------- Footer Wrapper Starts -------------------------------------->
            <footer id="footer-wrapper">
                <div class="custom-container small-width-layout">
                    <div class="footer-find-wrapper animation-area">
                        <div class="background-area ani-zoom-item">
                            <div class="text">
                                <h3>Find a sushicitywok</h3>
                                <div class="font-type2">
                                    <a href="https://www.facebook.com/bubbleteaskippergata"
                                       target="_blank">Find Now</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="footer-contact-wrapper">
                        <div class="row">
                            <div class="col-md-5 col-xs-6 footer-location">
                                <div class="beans-pic">
                                    @*<img src="img/footer/beans.png" />*@
                                </div>
                                <div class="common-footer-list footer-left-padding">
                                    <div class="title font-type2">
                                        <h4>Sushi City Wok</h4>
                                    </div>
                                    <div class="content">
                                        <ul>

                                            <li><a href="#">Skippergata 32,  0154, Oslo</a></li>
                                            <li><a href="#">bobachaoslo@gmail.com</a></li>
                                            <li><a href="#">(+47) 992 00 888</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-xs-6 footer-social animation-area">
                                @*<div class="background-container">
                                        <div class="cross">
                                            <img src="img/footer/social-cross.png" />
                                        </div>
                                        <div class="text">
                                            <p>Share Your pictures to show your support</p>
                                            <p>For Locally produced coffee</p>
                                        </div>

                                        <div class="social-links">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>

                    <div class="footer-nav-wrapper">
                        <div class="footer-nav-container footer-left-padding">
                            <div class="footer-nav-item">
                                <div class="common-footer-list">
                                    <div class="title font-type2">
                                        <h4>About Us</h4>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li><a href="#">About</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="footer-nav-item">
                                <div class="common-footer-list">
                                    <div class="title font-type2">
                                        <h4>Services</h4>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li><a href="~/menu#sushi">Sushi</a></li>
                                            <li><a href="~/menu#bubbletea">Bubble tea</a></li>
                                            <li>
                                                <a href="#">
                                                    Warehouse supplies
                                                </a>
                                            </li>
                                            @*<li><a href="#">Barista class</a></li>
                                                <li><a href="#">Bakery class</a></li>*@
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            @*<div class="footer-nav-item">
                                <div class="common-footer-list">
                                    <div class="title font-type2">
                                        <h4>Our Locations</h4>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li><a href="#">- Skippergata 32, 0154 Oslo Norway</a></li>
                                            <li><a href="#">- Drammensveien 201, 3420 Lierskogen Norway</a></li>
                                            <li><a href="#">- Strømsveien 47, 2010 Strømmen Norway</a></li>
                                          
                                        </ul>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
                <div class="footer-mountain-wrapper"></div>
            </footer>
        </div>
    </div>
    <div class="cs-popup">
        <div class="cs-popup_wrapper">
            @*<div class="cs-popup_top">
                    <a href="#" class="cs-popup_close"><img src="img/cancel.png" alt=""></a>
                </div>*@
            <div class="cs-popup_title">
                <h1 class="cs-popup_heading">Choose your country</h1>
            </div>
            <div class="cs-popup_menu">
                <div class="cs-popup_col">
                    <h3 class="cs-popup_subTitle">EUROPE</h3>
                    <ul class="cs-popup_list">
                        <li class="cs-popup_item">
                            <a href="" class="cs-popup_link">Norway</a>
                        </li>
                        @*<li class="cs-popup_item">
                                <a href="" class="cs-popup_link">CYPRUS</a>
                            </li>
                            <li class="cs-popup_item">
                                <a href="" class="cs-popup_link">ESTONIA</a>
                            </li>
                            <li class="cs-popup_item">
                                <a href="" class="cs-popup_link">FRANCE</a>
                            </li>
                            <li class="cs-popup_item">
                                <a href="" class="cs-popup_link">ITALY</a>
                            </li>
                            <li class="cs-popup_item">
                                <a href="" class="cs-popup_link">LATVIA</a>
                            </li>
                            <li class="cs-popup_item">
                                <a href="" class="cs-popup_link">LITHUANIA</a>
                            </li>
                            <li class="cs-popup_item">
                                <a href="" class="cs-popup_link">MALTA</a>
                            </li>
                            <li class="cs-popup_item">
                                <a href="" class="cs-popup_link">THE NETHERLANDS</a>
                            </li>
                            <li class="cs-popup_item">
                                <a href="" class="cs-popup_link">THE UNITED KINGDOM</a>
                            </li>
                            <li class="cs-popup_item">
                                <a href="" class="cs-popup_link">PORTUGAL</a>
                            </li>
                            <li class="cs-popup_item">
                                <a href="" class="cs-popup_link">SPAIN</a>
                            </li>*@
                    </ul>
                </div>
                @*<div class="cs-popup_col">
                        <h3 class="cs-popup_subTitle">AMERICA</h3>
                        <ul class="cs-popup_list">
                            <li class="cs-popup_item">
                                <a href="" class="cs-popup_link">COLOMBIA</a>
                            </li>
                            <li class="cs-popup_item">
                                <a href="" class="cs-popup_link">ECUADOR</a>
                            </li>
                            <li class="cs-popup_item">
                                <a href="" class="cs-popup_link">PANAMÁ</a>
                            </li>
                            <li class="cs-popup_item">
                                <a href="" class="cs-popup_link">THE USA</a>
                            </li>
                        </ul>
                    </div>
                    <div class="cs-popup_col">
                        <h3 class="cs-popup_subTitle">AFRICA</h3>
                        <ul class="cs-popup_list">
                            <li class="cs-popup_item">
                                <a href="" class="cs-popup_link">MOROCCO</a>
                            </li>
                        </ul>
                    </div>*@
                <div class="cs-popup_col">
                    <h3 class="cs-popup_subTitle">ASIA</h3>
                    <ul class="cs-popup_list">
                        <li class="cs-popup_item">
                            <a href="" class="cs-popup_link">Vietnam</a>
                        </li>
                        @*<li class="cs-popup_item">
                                <a href="" class="cs-popup_link">ISRAEL</a>
                            </li>
                            <li class="cs-popup_item">
                                <a href="" class="cs-popup_link">OMAN</a>
                            </li>
                            <li class="cs-popup_item">
                                <a href="" class="cs-popup_link">SAUDI ARABIA</a>
                            </li>*@
                    </ul>
                </div>
            </div>
            @*<div class="cs-popup_bottom">
                    <a href="#" class="cs-popup_next">Wok To Walk International <i class="fa fa-chevron-right"></i></a>
                </div>*@
        </div>
    </div>
    <script src="js/libs/jquery-1.11.2.min.js"></script>
    <script src="js/libs/bootstrap.min.js"></script>
    <script src="js/functions.js"></script>
</body>
</html>
