<section class="content-header">
    <h1>
    Milk tea
    @*<small>Optional description</small>*@
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <section class="content">
        
    </section>
    <!-- /.content -->
</section>