<link href="~/js/plugins/ui/kendo-ui/styles/kendo.common-material.min.css" rel="stylesheet" />
<link href="~/js/plugins/ui/kendo-ui/styles/kendo.material.min.css" rel="stylesheet" />
<link href="~/js/plugins/ui/kendo-ui/styles/kendo.material.mobile.min.css" rel="stylesheet" />
<style>
    .k-grid td {
        padding: 5px;
    }
</style>
<script src="~/js/jquery-3.4.1.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<!-- Theme JS files -->
<script type="text/javascript" src="~/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript" src="~/js/plugins/forms/selects/select2.min.js"></script>
<script type="text/javascript" src="~/js/core/app.js"></script>
<!-- /kendo JS files -->
<script type="text/javascript" src="~/js/plugins/ui/kendo-ui/js/kendo.all.min.js"></script>

<section class="content-header">
    <h1>
        Sushi
        @*<small>Optional description</small>*@
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Basic datatable -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Bài viết</h5>

        </div>
        <div class="panel-body">
            <a href="/New" class="btn btn-primary">Thêm mới</a>
        </div>


        <div class="box-body">
                <div id="postGrid" data-url="@Url.Action("GetListKendoUI")"></div>
                <script id="action-template" type="text/x-kendo-template">
                    <div class="pull-right kendo-grid-action">

                        <a class="btn bg-blue btn-lg" style="padding-top:3px; padding-bottom:3px;" href="/Admin/Article/EditForm?id=#:data.id#" title="Sửa">
                            <i class="fa icon-pencil7"></i>
                        </a>
                    </div>
                </script>
            </div>
    </div>
    <!-- /basic datatable -->
</section>
<script>
    (function ($) {
        $(document).ready(function () {

            $("#postGrid").kendoGrid({
                dataSource: {
                    serverPaging: true,
                    serverSorting: true,
                    serverFiltering: true,
                    //sort: ({ field: "DateCreated", dir: "desc" }),
                    pageSize: 10,
                    transport: {
                        read: {
                            url: $("#postGrid").data("url"),
                            type: "POST",
                            dataType: "json",
                            contentType: "application/json; charset=utf-8"
                        },
                        parameterMap: function (options) {
                            return JSON.stringify(options);
                        }
                    },
                    schema:
                    {
                        data: "Data",
                        total: "Total",
                        model: {
                            id: "id",
                            fields: {
                                name: {},
                                images: {},
                                description: {},
                                price: {},
                                //CategoryName: {},
                                //CategoryNameAscii: {},
                                //DateCreated: { type: "date" },
                                //UserName: {},
                                //IsHot: { type: "boolean" },
                                //IsShow: { type: "boolean" }
                            }
                        }
                    }
                },
                filterable: true,
                sortable: true,
                pageable: {
                    input: true,
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                resizable: true,
                reorderable: true,
                columns: [
                    {
                        field: "id",
                        title: "ID",
                        attributes: { style:"text-align:center" }
                    },
                    {
                        field: "name",
                        title: "Tên"
                    }, {
                        field: "description",
                        title: "Chi Tiết",
                        filterable: false,
                        sortable: false
                    }, {
                        field: "price",
                        title: "Giá",
                        template: function (dataItem) {
                                return "<center><bold>" + dataItem.price + "$</bold></center>";
                        }
                    }, 
                    {
                        field: "images",
                        title: "Hình đại diện",
                        filterable: false,
                        sortable: false,
                        template: function (dataItem) {
                            try {
                                return '<img style="max-height:200px;width:400px;" src="' + dataItem.images + '" />';
                            }
                            catch (ex) {
                                return "";
                            }
                        }
                    },
                    {
                        title: "Sửa",
                        template: $("#action-template").html(),
                        width: 80,
                        filterable: false,
                        sortable: false
                    }                    
                ],
                dataBound: function (e) {

                    var grid = $("#postGrid").data("kendoGrid");
                    for (var i = 0; i < grid.columns.length; i++) {
                        grid.autoFitColumn(i);
                    }
                }
            });

            var minTableWidth;
            var minColumnWidth = 50;
            var th;
            var idx;
            var grid;

            $("#postGrid").data("kendoGrid").resizable.bind("start", function (e) {
                th = $(e.currentTarget).data("th");
                idx = th.index();
                grid = th.closest(".k-grid").data("kendoGrid");
            });

            $("#postGrid").data("kendoGrid").resizable.bind("resize", function (e) {
                if (th.width() >= minColumnWidth) {
                    minTableWidth = grid.tbody.closest("table").width();
                }

                if (th.width() < minColumnWidth) {
                    // the next line is ONLY needed if Grid scrolling is enabled
                    grid.thead.closest("table").width(minTableWidth).children("colgroup").find("col").eq(idx).width(minColumnWidth);
                    grid.tbody.closest("table").width(minTableWidth).children("colgroup").find("col").eq(idx).width(minColumnWidth);
                }
            });
        });
    })(window.jQuery);
</script>